.drops {
  color: white;
}
.menuitem {
  /* padding: 1em !important; */
  /* padding: 0; */
  /* height: 4em !important; */
  display: flexbox;
  font-weight: 10;
  border-width: 0.5px;
}
.dropsHead {
  color: white;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dropof {
  padding-left: 1.5em;
  font-weight: 20;
  color: black;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* .disci {
  height: fit-content;
  display: inline-block;
} */
#disc {
  font-size: large;
  font-weight: 500;
}

#checkbox {
  padding-left: 2em;
  margin-left: 0.5em;
}
.d-inline-block {
  margin-left: 1em;
}
.btn {
  border-radius: 0px;
}
.mainform {
  background-color: whitesmoke;
  border: 0.5px solid lightgray;
  margin: auto;
}
