.drops {
  color: white;
  height: 100%;
  margin-left: 3px;
}
.menuitem {
  display: flexbox;
  font-weight: 10;
  border-width: 0.5px;
}
.dropof {
  padding-left: 1.5em;
  font-weight: 10;
  color: black;
  font-size: small;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#disc {
  font-size: 19px;
  font-weight: 500;
  margin-top: 13px;
  margin-left: 6px;
}

#checkbox {
  padding-left: 2em;
  margin-left: 0.5em;
}
.d-inline-block {
  margin-left: 1em;
}
.btn {
  border-radius: 0px;
}
.mainform {
  background-color: whitesmoke;
  border: 0.5px solid lightgray;
  margin: auto;
}
